@model Flix_Tv.Application.DTOs.User.Auth.ChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<form asp-action="ChangePassword" class="sign__form">
    <a href="index.html" class="sign__logo">
        <img src="~/SiteTemplate/img/logo.svg" alt="">
    </a>
    @if (ViewBag.IsSuccess == true)
    {
        <p style="color: #42ff42;">رمز با موفقیت تغییر کرد (به صفحه ورود به سایت هدایت می شوید)</p>
        <script>
            setTimeout(function () {
                window.location.href = "/Login";
            }, 2500);
        </script>
    }
    <input type="hidden" asp-for="ActiveCode" />
    <div class="sign__group">
        <input asp-for="Password" type="text" class="sign__input" placeholder="رمز عبور">
        <span asp-validation-for="Password" style="color: #ff8383; margin-top: 8px;"></span>
    </div>
    <div class="sign__group">
        <input asp-for="RePassword" type="text" class="sign__input" placeholder="تکرار رمز عبور">
        <span asp-validation-for="RePassword" style="color: #ff8383; margin-top: 8px;"></span>
    </div>



    <button class="sign__btn" type="submit">ثبت تغییرات</button>


</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

