@model Flix_Tv.Application.DTOs.User.Auth.ForgotPasswordDto
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<form asp-action="ForgotPassword" class="sign__form">
    <a href="index.html" class="sign__logo">
        <img src="~/SiteTemplate/img/logo.svg" alt="">
    </a>
    @if (ViewBag.IsSuccess == true)
    {
        <p style="color: #42ff42;">ایمیل برایتان ارسال شد </p>
    }
    <div class="sign__group">
        <input asp-for="Email" type="text" class="sign__input" placeholder="ایمیل">
        <span asp-validation-for="Email" style="color: #ff8383; margin-top: 8px;"></span>
    </div>



    <button class="sign__btn" type="submit">ارسال</button>

    <span class="sign__text">لینکی برایتان ارسال خواهد شد</span>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}