
<!DOCTYPE html>
<html lang="fa">


<!-- Mirrored from tirtashirika.ir/demo/FlixTV/main/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Aug 2021 11:50:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <partial name="_Styles" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/SiteTemplate/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/SiteTemplate/icon/favicon-32x32.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>ورود به سایت</title>

</head>
<body>
    <!-- sign in -->
    <div dir="rtl" class="sign section--full-bg" data-bg="img/bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                   @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign in -->
    <!-- JS -->
    <partial name="_Scripts"/>
    @RenderSection("Scripts",false)
</body>


<!-- Mirrored from tirtashirika.ir/demo/FlixTV/main/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Aug 2021 11:50:40 GMT -->
</html>
