@model Flix_Tv.Application.DTOs.User.Auth.ForgotPasswordEmailDto
<div class="container">
    <div class="row">
        <h1 class="text-muted">@Model.UserName عزیز !</h1>
        <p class="text-primary">جهت تغییر رمز عبور وارد لینک زیر شوید</p>
        <a class="text-decoration-none font-weight-bold" href="https://localhost:44308/ChangePassword/@Model.ActivateCode">تغییر رمز عبور</a>
  
    </div>
</div>
